style.css
body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #fb688c;
    flex-direction: column;
}

#calculator {
    border: 2px solid #e623d2;
    border-radius: 5px;
    padding: 60px;
    text-align: center;
    box-shadow: 0 0 10px rgba(35, 35, 35, 0.1);
    background-color: #666bff;


}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
   
}

input[type="button"] {
    width: 60px;
    height: 60px;
    font-size: 25px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    font-weight:bolder;
    border: 4px solid rgb(13, 15, 14);
    

}

input[type="button"]:hover {
    background-color: #eee;
}

#clear {
    background-color: rgb(22, 46, 231);
    color: #fff;
}
#display{
    margin-right: 60px;
    border: 4px solid black;
}
.name{
margin-bottom: 50px;
}
